<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="registration-container">
        <h2>Register</h2>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <form action="{{ url_for('register') }}" method="POST" enctype="multipart/form-data">
            <div class="input-group">
                <label for="id">Id:</label>
                <input type="text" id="id" name="id" required>
            </div>
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-group">
                <label for="image">Profile Picture:</label>
                <input type="file" id="image" name="image" accept="image/*">
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
